---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="container">
    <h1>Lançamentos</h1>
    <div id="songsList">
      <!-- As músicas vão aparecer aqui -->
    </div>
  </main>
</Layout>
